ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: flex;
    column-gap: 20px;
}

li:hover {
    cursor: pointer;
    scale: 1.1;
}

h2 {
    margin: 0;
}

body {
    background-color: rgb(255, 243, 156);
}

.field {
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
}

.select-block {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border: 1px solid wheat;
}

.select-container {
    display: flex;
    column-gap: 100px;
}

.score-block {
    font-size: 50px;
}